.guestList {
  display: flex;
  flex-direction: column;
  align-items: center;

  .guestCard {
    margin: 3vh 0;
    width: 75vw;
    height: 40vh;
    background-color: #0a100d;
    border: 2px solid white;
  }
}

@media (min-width: 600px) {
  .guestList {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .guestCard {
      margin: 3vh;
      width: 25vw;
      height: 40vh;
    }
  }
}
