.guestList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .guestList {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .guestCard {
      margin: 3vh;
      width: 25vw;
      height: 40vh;
    }
  }
}
