@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap&family=Yantramanav:wght@400;700&display=swap");

/*
black: #0A100D
blue: #8FB8DE
light-blue: #CDF7F6
yellow: #E8D33F
green-gray: #627264
*/

$black: #0a100d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: Open Sans;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
}
