$blue: #61a0db;
$light-blue: #cdf7f6;
$white: #f7f7f7;

.button {
  font-size: 5vw;
  padding: 15px;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  .button {
    font-size: 1.75vw;
  }
}
