/*
black: #0A100D
blue: #8FB8DE
light-blue: #CDF7F6
yellow: #E8D33F
green-gray: #627264
*/

$black: #0a100d;
$white: #f7f7f7;
$blue: #8fb8de;

.home-mission {
  height: 90vh;
  width: 100vw;

  background-color: $black;

  .home-mission__wrapper {
    height: 100%;
    width: 100%;
    background-color: $white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);
    padding: 10vh 0 0;

    .home-mission__image {
      width: 80vw;
      border-radius: 10px;
      margin: 0 auto;
    }

    .home-mission__title {
      font-family: Archivo Black;
      color: $black;
      font-size: 9vw;
      margin: 5vh 0 3vh;
      text-align: center;
    }

    .home-mission__text {
      font-size: 4.5vw;
      color: $black;
      margin: 0 auto;
      text-align: center;
      max-width: 80vw;
    }
  }
}

@media (min-width: 600px) {
  .home-mission {
    .home-mission__wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      clip-path: polygon(0% 0%, 100% 0%, 100% 92.5%, 0% 100%);
      padding: 0;

      .home-mission__image {
        width: 45vw;
        border-radius: 10px;
        margin: 0;
      }

      .home-mission__title {
        font-size: 3.5vw;
        margin: 0 0 8vh;
        text-align: center;
      }

      .home-mission__text {
        font-family: Noto Sans JP;
        font-size: 1.5vw;
        margin: 0;
        text-align: center;
        max-width: 40vw;
      }
    }
  }
}
