$white: #f7f7f7;
$black: #0a100d;

.home-listen {
  background-color: $black;
  height: 85vh;

  .home-listen__wrapper {
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);
    padding: 10vh 0;

    .home-listen__image {
      width: 80vw;
      border-radius: 10px;
      margin: 0 auto;
    }

    .home-listen__title {
      font-family: Archivo Black;
      font-size: 9vw;
      max-width: 65vw;
      text-align: center;
      color: $black;
      margin: 5vh auto;
    }

    .home-listen__icons {
      display: flex;
      justify-content: space-evenly;

      .home-listen__icon {
        width: 15vw;
      }
    }

    .home-listen__text {
      font-size: 5vw;
      color: gray;
      margin: 4vh auto;
      text-align: center;
      max-width: 50vw;
    }
  }
}

@media (min-width: 600px) {
  .home-listen {
    .home-listen__wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: center;
      clip-path: polygon(0% 0%, 100% 0%, 100% 92.5%, 0% 100%);
      padding: 0;

      .home-listen__image {
        width: 45vw;
        border-radius: 10px;
        margin: 0;
      }

      .home-listen__title {
        font-size: 3.5vw;
        margin-bottom: 10vh;
      }

      .home-listen__icons {
        margin-bottom: 10vh;
        .home-listen__icon {
          width: 6vw;
        }
      }

      .home-listen__text {
        font-size: 1.75vw;
        margin: 2vh auto;
        max-width: 20vw;
      }
    }
  }
}
