$black: #0a100d;
$white: #f7f7f7;

.nav {
  display: flex;
  height: 10vh;
  background-color: $black;
  align-items: center;
}

.nav-title {
  font-family: Yantramanav;
  font-weight: bold;
  font-size: 5.5vw;
  color: $white;
  text-align: center;
  max-width: 20%;
  margin: 0 5vw;
  display: block;
  text-decoration: none;
}

.nav-link {
  display: none;
}

@media (min-width: 600px) {
  .nav {
    height: 10vh;
  }

  .nav-title {
    font-size: 1.5vw;
    max-width: 8%;
    margin: 0 2vw;
  }

  .nav-link {
    font-family: Yantramanav;
    margin: 0 2vw 0 0;
    display: initial;
    text-decoration: none;
    color: $white;
    font-size: 1.5vw;

    img {
      margin-top: 6px;
      width: 30px;
    }
  }

  #mission {
    margin-left: auto;
  }
}
